body {
  margin: 0;
  background: antiquewhite;
  color: #343a40;
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
}

a {
  color:#0156a5;
  transition: 0.5s;
}

p {
  padding: 0;
  margin: 0 0 30px 5px;
}

h1,h2,h3,h4,h5,h6{
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0;
  color:  #0156a5;
}

#logo {
  width: 50px;
}

#header {
  padding: 30px 0;
  height: 92px;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  transition: all 0.5s;
  z-index: 997;
}

#header #logo {
  float: left;
}

#header #logo h1 {
  font-size: 36px;
  margin: -4px 0 0 0;
  padding: 0;
  line-height: 1;
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  letter-spacing: 3px;
  text-transform: uppercase;
}

#header #logo h1 a,
#header #logo h1 a:hover {
  color: #fff;
}

#header #logo img {
  padding: 0;
  margin: 0;
  top: 16px;
  width:253px;
  height: 40px;
  position: absolute;
}


#header #car {
  float: right;
}

#header #car h1 {
  font-size: 36px;
  margin: -4px 0 0 0;
  padding: 0;
  line-height: 1;
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  letter-spacing: 3px;
  text-transform: uppercase;
}

#header #car h1 a,
#header #car h1 a:hover {
  color: #fff;
}

#header #car img {
  padding: 0;
  margin: 0;
  top: 16px;
  width:253px;
  height: 40px;
  position: static;
}

#header{
  background-color:antiquewhite;
  padding: 20px 0;
  height: 72px;
  transition: all 0.5s;
}

#intro {
  width: 100%;
  height: 100vh;
  background: #0156a5;
  background-size: cover;
  position: relative;
}

#intro .intro-text {
  position: absolute;
  left: 0;
  top: 60px;
  right: 0;
  height: calc(50% - 60px);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

#intro h2 {
  margin: 30px 0 10px 0;
  padding: 0 15px;
  font-size: 48px;
  font-weight: 400;
  line-height: 56px;
  color: #fff;
}

#intro p {
  color: #fff;
  margin-bottom: 20px;
  padding: 0 15px;
  font-size: 24px;
}

#intro .product-screens {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  text-align: center;
  width: 100%;
  height: 60%;
}

#intro .product-screens img {
  border-radius: 15px
}

#intro .product-screens .product-screen-1 {
  position: absolute;
  z-index: 30;
  left: calc(50% + 54px);
  bottom: 0;
  top: 20px;
}

#intro .product-screens .product-screen-2 {
  position: static;
  z-index: 20;
  left: calc(25% - 154px);
  bottom: 0;
  top: 20px;
}

#intro .product-screens .product-screen-3 {
  position: absolute;
  z-index: 10;
  left: calc(30% - 374px);
  bottom: 0;
  top: 20px;
}

#intro .product-screens .product-screen-4 {
  position: absolute;
  z-index: 10;
  right: calc(30% - 374px);
  bottom: 0;
  top: 20px;
}


#form {
  width: 100%;
  height: 100vh;
  background: linear-gradient(45deg, #0156a5, #c5c5c5);
  background-size: cover;
  position: relative;
}

#form .form-text {
  position: absolute;
  left: 0;
  top: 60px;
  right: 0;
  height: calc(50% - 60px);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

#form h2 {
  margin: 30px 0 10px 0;
  padding: 0 15px;
  font-weight: 400;
  line-height: 56px;
  color: #fff;
}


#form form{
  border: none;
  cursor: pointer;
  position: static;
  z-index: 30;
  left: calc(48% + 54px);
  bottom: 0;
  padding-top: 200px;
}

#form input{
  width: 200px;
  height: 40px;
  background: linear-gradient(45deg, #0156a5, #c5c5c5);
  position:static;
  border: none;
  cursor: pointer;
}


#form button{
  background: linear-gradient(45deg, #0156a5, #c5c5c5);
  border: none;
  width: 200px;
  height: 40px;
  color: #fff;
  font-weight: bolder;
  cursor: pointer;
}

#form textarea{
  background: linear-gradient(45deg, #0156a5, #c5c5c5);
  border: none;
  width: 200px;
  height: 50px;
  cursor: pointer;
}

#form ::placeholder{
  font-size: x-small;
  color: #fff;
  font-weight: bolder;
}

#servicos {
  width: 100%;
  height: 100vh;
  background: linear-gradient(45deg, #0156a5, #c5c5c5);
  background-size: cover;
  position: relative;
}

#servicos .intro-text {
  position: absolute;
  left: 0;
  top: 60px;
  right: 0;
  height: calc(50% - 60px);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

#servicos h2 {
  margin: 30px 0 10px 0;
  padding: 0 15px;
  font-size: 48px;
  font-weight: 400;
  line-height: 56px;
  color: #fff;
}

#servicos p {
  color: #fff;
  margin-bottom: 20px;
  padding: 0 15px;
  font-size: 24px;
}

#servicos .product-screens {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  text-align: center;
  width: 100%;
  height: 60%;
}

#servicos .product-screens img {
  border-radius: 15px
}

#servicos .product-screens .product-screen-1 {
  position: absolute;
  z-index: 30;
  left: calc(48% + 54px);
  bottom: 0;
  top: 20px;
}

#servicos .product-screens .product-screen-2 {
  position: absolute;
  z-index: 20;
  left: calc(38% - 154px);
  bottom: 0;
  top: 20px;
}

#servicos .product-screens .product-screen-3 {
  position: absolute;
  z-index: 10;
  left: calc(30% - 374px);
  bottom: 0;
  top: 20px;
}

#servicos .product-screens .product-screen-4 {
  position: absolute;
  z-index: 10;
  right: calc(30% - 374px);
  bottom: 0;
  top: 20px;
}

.container{
	display:inline;
}

#post {
  width: 100%;
  height: 100vh;
  background: linear-gradient(45deg, #0156a5, #c5c5c5);
  background-size: cover;
  position: relative;
}

.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu ul {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  z-index: 99;
}

.nav-menu li {
  position: relative;
  white-space: nowrap;
}

.nav-menu > li {
  float: left;
}

.nav-menu li:hover > ul,
.nav-menu li.sfHover > ul {
  display: block;
}

.nav-menu ul ul {
  top: 0;
  left: 100%;
}

.nav-menu ul li {
  min-width: 180px;
}

#nav-menu-container {
  float: right;
  margin: 0;
}

.nav-menu a {
  text-decoration: none;
  display: inline-block;
  color:  #0156a5;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  outline: none;
}

.nav-menu > li {
  margin-left: 10px;
  margin-top: 10px;
}

.nav-menu ul {
  margin: 4px 0 0 0;
  padding: 10px;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  background: #fff;
}

.nav-menu ul li {
  transition: 0.3s;
}

.nav-menu ul li a {
  padding: 10px;
  color: #333;
  transition: 0.3s;
  display: block;
  font-size: 13px;
  text-transform: none;
}

.nav-menu ul li:hover > a {
  color:  #0156a5;
}

.nav-menu ul ul {
  margin: 0;
}

#contact {
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
  padding: 60px 0;
  overflow: hidden;
}

#contact .contact-about h3 {
  font-size: 36px;
  margin: 0 0 10px 0;
  padding: 0;
  line-height: 1;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  letter-spacing: 3px;
  text-transform: uppercase;
  color:  #0156a5;
}

#contact .contact-about p {
  font-size: 14px;
  line-height: 24px;
  font-family: "Montserrat", sans-serif;
  color: #888;
}

#contact .social-links {
  padding-bottom: 35px;
}

#contact .social-links a {
  font-size: 20px;
  display: inline-block;
  color:  #0156a5;
  line-height: 1;
  padding: 4px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 50px;
  height: 50px;
  transition: 0.3s;
  color:  #0156a5;
}

#contact .social-links a:hover {
  background:  #0156a5;
  color: #fff;
}

#contact .info {
  color: #333333;
}

#contact .info i {
  font-size: 40px;
  color:  #0156a5;
  float: left;
  line-height: 1;
}

#contact .info p {
  padding: 5px 5px 10px 45px;
  line-height: 28px;
  font-size: 14px;
}

#contact img {
  float: 10px ;
  padding-right: 5px;
  padding-left: 5px;
  line-height: 28px;
  font-size: 14px;
}

.message {
	position: fixed;
	bottom: 20px;
	right: 20px;
	background-color: #074bb1;
	color: #fff;
	padding: 10px;
	border-radius: 14px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 300px;
	height: 50px;
	font-size: 20px;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, transform 0.3s ease-in-out;
	transform: translateY(20px);
}

.message.show {
	opacity: 1;
	visibility: visible;
	transform: translateY(0);
}

#sobre {
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
  padding: 50px 0;
  overflow: hidden;
}

#sobre .contact-about h3 {
  font-size: 36px;
  margin: 0 0 10px 0;
  padding: 0;
  line-height: 1;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  letter-spacing: 3px;
  text-transform: uppercase;
  color:  #0156a5;
}

#sobre .contact-about p {
  font-size: 14px;
  line-height: 24px;
  font-family: "Montserrat", sans-serif;
  color: #888;
}

#sobre .social-links {
  padding-bottom: 35px;
}

#sobre .social-links a {
  font-size: 20px;
  display: inline-block;
  color:  #0156a5;
  line-height: 1;
  padding: 4px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 50px;
  height: 50px;
  transition: 0.3s;
  color:  #0156a5;
}

#sobre .social-links a:hover {
  background:  #0156a5;
  color: #fff;
}

#sobre .info {
  color: #333333;
}

#sobre .info i {
  font-size: 40px;
  color:  #0156a5;
  float: left;
  line-height: 1;
}

#sobre .info p {
  padding: 5px 5px 10px 45px;
  line-height: 28px;
  font-size: 14px;
}

#sobre img {
  float: 10px ;
  padding-right: 5px;
  padding-left: 5px;
  line-height: 28px;
  font-size: 14px;
}

#footer {
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
  padding: 30px 0;
  color: #888;
  font-size: 14px;
}

#footer .credits {
  font-size: 13px;
  color: #777;
}

#footer .footer-links a {
  color: #666;
  padding-left: 15px;
}

#footer .footer-links a:first-child {
  padding-left: 0;
}

#footer .footer-links a:hover {
  color:  #0156a5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}

.l-cards {
	display: grid;
	grid-gap: 40px;
	grid-template-columns: repeat(3, 300px);
	grid-template-columns: repeat(auto-fit, 300px);
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	justify-content: center;
	justify-items: center;
	padding: 10px;
}

.c-card {
  width: 250px;
  height: 535px;
  background: white;
	border-bottom-left-radius: 17px;
	border-bottom-right-radius: 17px;
  border-top-left-radius: 17px;
	border-top-right-radius: 17px;
	display: flex;
	flex-direction: column;
	transition: 0.6s all ease;
}

.a-card {
  width: 250px;
  height: 400px;
  background: white;
	border-bottom-left-radius: 17px;
	border-bottom-right-radius: 17px;
  border-top-left-radius: 17px;
	border-top-right-radius: 17px;
	display: flex;
	flex-direction: column;
	transition: 0.6s all ease;
}

.a-card:hover {
	transform: scale(1.04);
	cursor: pointer;
}

.c-card:hover {
	transform: scale(1.04);
	cursor: pointer;
}

.card-image {
	display: flex;
	justify-content: center;
}

.card-text {
	background-color: rgba(255, 255, 255, 0);
	width: 100%;
	padding-left: 10px;
	padding-right: 20px;
	text-align: start;
	word-wrap: break-word;
}

.card-name {
	height: 60px;
	color: black;
	font-size: 15px;
}

.card-content {
	display: grid;
	grid-gap: 0;
}

.discount {
  border-top-left-radius: 14px;
	border-top-right-radius: 14px;
	display: flex;
	justify-content: center;
	align-items: center;
	background:#0156a5
}

.discount p {
	display: flex;
	align-items: center;
	height: 25px;
	font-size: 17px;
	color: rgb(255, 0, 0);
  	margin-top: 25px;
}

.content-price {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 0;
	height: 30px;
	background-color: rgba(255, 255, 255, 0);
	color: rgb(0, 0, 0);
	margin-bottom: 10px;
	gap: 10px;
}

.card-price {
	font-size: 22px;
}

.price-discount {
	text-decoration: line-through;
  	color: #999;
	margin-top: 24px;
	font-size: 16px;
}

.card-estrela {
	padding-bottom: 10px;
	align-items: center;
	height: 25px;
	background-color: rgba(255, 255, 255, 0);
	display: flex;
	margin-right: 10px;
	justify-content: end;
	font-size: 15px;
}

.card-button {
	display: flex;
	justify-content: center;
}

.button-comprar {
	background:#0156a5;
	color: white;
	width: 100%;
	height: 45px;
	font-size: 20px;
	border: none;
	transition: 0.4s all ease;
  	border-bottom-left-radius: 14px;
	border-bottom-right-radius: 14px;
}

.button-comprar:hover {
  	background:#0156a5;
	transform: scale3d(1.05, 1.2, 1);
	border: none;
	cursor: pointer;
  	border-bottom-left-radius: 14px;
	border-bottom-right-radius: 14px;
}

.produto{
  	padding: 15px;
	width: 90%;
}

ul{
	display: flex;
	flex-direction: column;
	margin-right: 25px;
	justify-content: center;
}

#product{
	display: flex;
	margin-top: 50px;
	border-radius: 10px;
	background-color: white;
}

.product-info {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 200px;
}

#itemImg{
	width: 120px;
	margin-left: 10px;
}

#itemName{
	width: 10%;
	text-align: justify;
	margin-right: 100px;
	margin-top: 25px;
	font-size: 10px;
}

#itemPrice {
	margin-top: 30px;
	font-size: 15px;
}

.product-price {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 150px;
}

.button-group {
	width: 400px;
}

#itemQnt{
	font-size: 17px;
	padding-top: 1px;
	width: 30px;
	height: 35px;
	text-align: center;
	border: #777;;
	border-left: none;
	border-right: none;
	margin-top: 55px;
	background-color: #0156a5;
	color: white;
}

#increaseBtn {
	font-size: 15px;
	padding-top: 1px;
	width: 25px;
	height: 35px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border: #777;;
	border-left: none;
	cursor: pointer;
	color:#777;
}

#decreaseBtn {
	font-size: 17px;
	padding-top: 1px;
	width: 25px;
	height: 35px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	border:#777;;
	border-right: none;
	margin-left: 35px;
	cursor: pointer;
	color:#777;
}

.remove-text{
	font-size: 10px;
	margin-left: 40px;
	margin-top: 20px;
	color: #777;;
	cursor: pointer;
}

.remove-text:hover{
	text-decoration: underline;
}

.container-carrinho-vazio {
	display: flex;
	justify-content: center;
	align-self: center;
	width: 100%;
	height: 800px;
}

.carrinho-vazio {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 20px;
}

#cart-imagem {
	width: 140px;
	margin-top: 200px;
}

#cart-name-vazio {
	margin-top: 20px;
	font-size: 22px;
}

#cart-explorando {
	font-size: 20px;
	width: 350px;
	height: 50px;
	border-radius: 10px;
	color: white;
	background-color:#0156a5;
	border: 1px solid black;
	cursor: pointer;
	margin-bottom: 100px;
}

#endereco {
	margin: 3px;
	font-size: 15px;
}

.container-tabela {
	display: block;
    margin-top: 80px;
	margin-left: 40px;
}

.tabela {
    display: flex;
}

.tabela p {
    font-size: 18px;
}

.container-content {
    display: flex;
    margin-top: 10px;
    margin-bottom: 30px;
    width: 1039px;
    height: 150px;
    border-bottom: 1px solid black;
    border-radius: 10px;
}

.content-prod {
    display: flex;
    justify-content: start;
    width: 400px;
}

.content-prod img {
    width: 40%;
    margin-bottom: 10px;
}

.content-prod p {
    margin-top: 10px;
    padding: 10px;
    font-size: 15px;
}

.content-pre {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
	font-size: 20px;
}

.container-quad {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	gap: 5px;
}

.container-quad p:hover {
	cursor: pointer;
	text-decoration: underline;
}

.content-quan {
    display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 25px;
    width: 240px;
}

.content-quan input {
    width: 40px;
    height: 40px;
    border: 1px solid black;
	border-left: none;
	border-right: none;
}

.content-quan #quantity1, #quantity2, #quantity3, #quantity4, #quantity5 {
    font-size: 20px;
    text-align: center;
}

input[type="number"]:focus {
    outline: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#btn-min1, #btn-max1, #btn-min2, #btn-max2, #btn-min3, #btn-max3, #btn-min4, #btn-max4, #btn-min5, #btn-max5 {
	width: 30px;
	height: 40px;
	font-size: 20px;
    padding: 5px 10px;
    background-color: #ffffff;
	border: 1px solid black;
    cursor: pointer;
    line-height: 1;
    text-align: center;
}

#btn-min1:hover, #btn-max1:hover, #btn-min2:hover, #btn-max2:hover, #btn-min3:hover, #btn-max3:hover, #btn-min4:hover, #btn-max4:hover, #btn-min5:hover, #btn-max5:hover {
	background-color: #e4e4e4;
}

#btn-min1, #btn-min2, #btn-min3, #btn-min4, #btn-min5 {
	padding-bottom: 8px;
	border-right: none;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

#btn-max1, #btn-max2, #btn-max3, #btn-max4, #btn-max5 {
	border-left: none;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

.content-total {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
	font-size: 20px;
}

.container-pedido {
    margin-top: 80px;
	margin-left: 20px;
	margin-right: 40px;
	width: 500px;
	height: 900px;
}

.pedido {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 70px;
	background-color: #0156a5;
    border: 1px solid white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: none;
}

.pedido #resumo{
	font-size: medium;
	padding-top: 35px;
	color: white;
}

.content-pedido {
    width: 500px;
	height: 800px;
}

.content-subtotal {
	padding-top: 35px;
    width: 500px;
    height: 50px;
	background-color: transparent;
    border: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
	background-color: white;
}

.content-subtotal p {
    font-size: medium;
	color: black;
	margin-left: 15px;
	padding-right: 10px;
}

.content-entrega {
    width: 500px;
    height: 50px;
    border: white;
	border-top: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
	background-color: white;
}

.content-entrega p {
	font-size: medium;
	padding-top: 20px;
	color: black;
	margin-left: 15px;
	padding-right: 10px;
}

.content-pre-total {
    width: 500px;
    height: 60px;
	border: white;
	border-top: none;
	border-bottom: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
	background-color: white;
}

.content-pre-total p {
	padding-top: 20px;
	color: black;
	margin-left: 15px;
	padding-right: 10px;
}

.content-desconto {
	border: white;
	border-top: none;
	border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    gap: 5px;
	background-color: white;
}

.content-desconto #price-descont {
    font-size: 23px;
	margin-right: 20px;
    color: black;
}

.content-desconto #pric {
    text-decoration: line-through;
    color: #5a5a5a;
    margin-top: 24px;
    font-size: 16px;
}

.content-desconto p {
    margin-top: 20px;
    font-size: 16px;
}

.box-des {
	display: flex;
    align-items: center;
    justify-content: end;
}

.content-pedido p {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 10px;
}

.content-comprar {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
	width: 500px;
	gap: 10px;
}

.content-comprar button {
	width: 250px;
	height: 40px;
	font-size: 16px;
	border-radius: 5px;
	background-color: #0156a5;
	color: white;
	border: none;
}

.content-comprar button:hover {
	cursor: pointer;
	transition: 0.4s all ease;
	transform: scale(1.04);
}

.content-comprar #fechar-ped {
	width: 250px;
	background-color: #0156a5;
	color: white;
	border: none;
}

.content-comprar #fechar-ped:hover {
	cursor: pointer;
	transition: 0.4s all ease;
	transform: scale(1.04);
}

.container-cep {
	width: 500px;
	margin-top: 20px;
}

.container-cep h1 {
    font-size: 23px;
    margin-bottom: 10px;
}

.content-cep input {
	font-size: 14px;
}

#cep {
	width: 293px;
	height: 40px;
    padding: 5px;
   	border: none;
    border-radius: 5px;
}

input[type="text"]:focus {
    outline: none;
}

.content-frete {
	display: flex;
	justify-content: center;
	gap: 10px;
}

#end {
	width: 500px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 5px;
	margin-top: 10px;
	font-size: 12px;
	border-radius: 10px;
	border: 1px solid black;
}

#economico, #expresso {
	margin-top: 10px;
	margin-bottom: 15px;
	line-height: 1.3;
}

#eco {
	width: 244px;
	height: 100px;
	padding: 20px 25px 20px;
	border-radius: 10px;
	border: 1px solid black;
	cursor: pointer;
	transition: 0.4s all ease;
}

#eco:hover {
	transform: scale(1.006);
	box-shadow: 3px 3px 8px #afafaf;
	background-color: #f1f1f1;
}

.cor-frete {
	color: #0156a5;
}

.container-formas-pag {
	background-color: rgb(255, 255, 255);
	width: 500px;
	margin-top: 20px;
}

.container-formas-pag h2 {
	display: flex;
	justify-content: start;
	margin-bottom: 0px;
	font-size: 15px;
}

.formas-pag {
	display: flex;
	justify-content: center;
	width: 496px;
	margin-top: 10px;
	border-radius: 5px;
}

.content-pag, .content-pag2 {
	background-color: rgb(255, 255, 255);
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0px;
	width: 250px;
	height: 43px;
	border: 1px solid #b6b6b6;
	border-radius: 5px;
	cursor: pointer;
}

.content-pag {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-right: none;
}

.content-pag img {
	width: 43px;
	transition: 0.3s all ease;
	border: 1px solid transparent;
}

.content-pag2 {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border-left: none;;
}

.content-pag2 img {
	width: 43px;
	transition: 0.3s all ease;
	border: 1px solid transparent;
}

.content-pag img:hover:not(.selected), .content-pag2 img:hover:not(.selected) {
	border-color:#0156a5;
}

.content-pag img.selected, .content-pag2 img.selected {
	border-color:#0156a5;
}

#pag-52px {
	width: 52px;
	padding: 6px 10px 5px 10px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

#pag-46px {
	width: 46px;
	padding: 5px 6px 5px 7px;
}

#pag-54px {
	width: 54px;
	padding: 3px 8px 2px 8px;
}

#pag-49px {
	width: 49px;
	padding: 10px 1px 10px 1px;
}

#pag-46p {
	margin-left: -3px;
	width: 46px;
	padding: 5px 6px 5px 7px;
}

#pag-51px {
	width: 51px;
	padding: 1px 5px 1px 5px;
}

#pag-55px {
	width: 55px;
	padding: 12px 5px 13px 4px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

#cupom-message {
	padding: 2px;
	font-size: 15px;
	color: rgb(55, 55, 228);
}

#cupom-message2 {
	padding: 2px;
	font-size: 15px;
	color: black;
}

.cupom-container {
	width: 500px;
	margin-top: 0px;
}

.cupom-container h1 {
    font-size: 22px;
    margin-bottom: 10px;
}

.content-cep {
	display: flex;
    align-items: center;
	gap: 10px;
}

.content-cep input {
	font-size: 14px;
}

#cupom-input {
    width: 400px;
	height: 40px;
    padding: 5px;
	border: none;
    border-radius: 5px;
}

.content-cep button {
	width: 80px;
	height: 39px;
	font-size: 14px;
	background-color: #0156a5;;
	color: white;
	border: none;
    border-radius: 5px;
    cursor: pointer;
}

.container-cep button:hover{
	cursor: pointer;
	transition: 0.4s all ease;
	transform: scale(1.04);
}

@media (max-width: 1920px) {
	#intro .product-screens .product-screen-2 {
	  position: absolute;
	  padding-top: 30px;
	}
  
	#intro .product-screens .product-screen-3 {
	  position: absolute;
	  padding-top: 30px;
	  left: calc(9% - 154px);
	  bottom: 0;
	  top: 20px;
	}

	#intro .product-screens .product-screen-4 {
	  position: absolute;
	  padding-top: 30px;
	  left: calc(80% - 154px);
	  bottom: 0;
	  top: 20px;
	}

	#servicos .product-screens .product-screen {
	  position: static;
	}

	#servicos .product-screens .product-screen-2 {
	  position: absolute;
	}
  
	#servicos .product-screens .product-screen-3 {
	  position: absolute;
	  padding-top: 170px;
	  left: calc(5% - 154px);
	  bottom: 0;
	}

	#servicos .product-screens .product-screen-4 {
	  position: absolute;
	  padding-top: 40px;
	  left: calc(85% - 154px);
	  bottom: 0;
	}
}

@media (max-width: 1630px) {
	.container-tabela {
		margin-left: 40px;
	}

	.container-pedido {
		width: 350px;
		margin-right: 40px;
		margin-left: 40px;
	}
	
	.pedido {
		width: 350px;
		height: 70px;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
	}
	
	.pedido p {
		font-size: 24px;
	}
	
	.content-pedido {
		width: 350px;
		height: 240px;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
	}
	
	.content-subtotal {
		width: 350px;
		height: 50px;
	}
	
	.content-subtotal p {
		font-size: 18px;
		margin-left: 15px;
		padding-right: 10px;
	}
	
	.content-entrega {
		width: 350px;
		height: 50px;
	}
	
	.content-entrega p {
		font-size: 18px;
		margin-left: 15px;
		padding-right: 10px;
	}
	
	.content-pre-total {
		width: 350px;
		height: 60px;
	}
	
	.content-pre-total p {
		font-size: 23px;
		margin-left: 15px;
		padding-right: 10px;
	}
	
	.content-desconto {
		gap: 5px;
	}
	
	.content-desconto #price-descont {
		font-size: 23px;
		margin-right: 20px;
	}
	
	.content-desconto #pric {
		margin-top: 24px;
		font-size: 16px;
	}
	
	.content-desconto p {
		margin-top: 20px;
		font-size: 16px;
	}
	
	.content-pedido p {
		margin-right: 10px;
	}
	
	#pix {
		font-size: 15px;
		margin-top: 5px;
		margin-right: 20px;
	}
	
	.content-comprar {
		margin-top: 30px;
		width: 350px;
		gap: 10px;
	}
	
	.content-comprar button {
		width: 170px;
		height: 40px;
		font-size: 14px;
		border-radius: 5px;
	}
	
	.content-comprar #fechar-ped {
		width: 170px;
	}
	
	.container-cep {
		width: 350px;
		margin-top: 20px;
	}
	
	.container-cep h1 {
		font-size: 26px;
		margin-bottom: 15px;
	}
	
	.content-cep {
		gap: 10px;
	}
	
	.content-cep input {
		font-size: 14px;
	}
	
	.content-cep button {
		width: 70px;
		height: 39px;
		font-size: 14px;
		border-radius: 5px;
	}

	.container-formas-pag {
		width: 350px;
		margin-top: 20px;
	}
	
	.container-formas-pag h2 {
		display: flex;
		justify-content: start;
		margin-bottom: 0px;
		font-size: 15px;
	}
	
	.formas-pag {
		flex-direction: column;
		width: 350px;
		margin-top: 10px;
	}
	
	.content-pag, .content-pag2 {
		background-color: rgb(255, 255, 255);
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 0px;
		width: 100%;
		height: 55px;
		border: 1px solid #b6b6b6;
		border-radius: none;
		box-shadow: none;
		cursor: pointer;
	}
	
	.content-pag {
		border-top-right-radius: 5px;
		border-top-left-radius: 5px;
		border-bottom-left-radius: 0;
		border-bottom: none;
	}
	
	.content-pag img {
		width: 43px;
	}
	
	.content-pag2 {
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
		border-top-right-radius: 0;
		border-top: none;
	}
	
	.content-pag2 img {
		width: 43px;
	}
	
	#pag-1 {
		width: 67px;
		padding: 3px 10px 4px 10px;
		border-top-left-radius: 5px;
		border-bottom-left-radius: 0px;
	}
	
	#pag-2 {
		width: 63px;
		padding: 2px 6px 2px 7px;
	}
	
	#pag-3 {
		width: 62px;
		padding: 2px 6px 3px 7px;
	}
	
	#pag-4 {
		width: 63px;
		padding: 3px 8px 4px 8px;
	}
	
	#pag-5 {
		width: 93px;
		padding: 7px 5px 7px 5px;
		border-top-right-radius: 5px;
		border-bottom-right-radius: 0px;	
	}
	
	#pag-6 {
		width: 67px;
		padding: 3px 10px 4px 10px;
		border-top-left-radius: 0px;
		border-bottom-left-radius: 5px;
		margin-left: 0px;
	}
	
	#pag-7 {
		width: 63px;
		padding: 2px 6px 2px 7px;
	}
	
	#pag-8 {
		width: 62px;
		padding: 2px 6px 3px 7px;
	}
	
	#pag-9 {
		width: 63px;
		padding: 3px 8px 4px 8px;
	}
	
	#pag-10 {
		width: 93px;
		padding: 12px 5px 12px 5px;	
		border-top-right-radius: 0px;
		border-bottom-right-radius: 5px;
	}

	.content-frete {
		display: flex;
		justify-content: center;
		gap: 10px;
	}
	
	#end {
		width: 350px;
		height: 40px;
		padding: 5px;
		margin-top: 10px;
		font-size: 12px;
	}
	
	#economico, #expresso {
		margin-top: 10px;
		margin-bottom: 15px;
		line-height: 1.4;
	}
	
	#eco {
		width: 170px;
		height: 70px;
		padding: 10px 10px 10px;
		border-radius: 10px;
		font-size: 12px;
	}
	
	#eco:hover {
		transform: scale(1.006);
		box-shadow: 3px 3px 8px #afafaf;
		background-color: #f1f1f1;
	}
	
	.cor-frete {
		color: rgb(55, 55, 228);
	}

	.cupom-container {
		width: 350px;
	}
}

@media (max-width: 1480px) {
	.container-tabela {
		margin-left: 60px;
	}

	.container-pedido {
		margin-left: 50px;
	}

	.tabela p {
		font-size: 18px;
	}

	.container-content {
		margin-top: 10px;
		margin-bottom: 30px;
		width: 600px;
		height: 150px;
		border-radius: 10px;
	}
	
	.content-prod {
		width: 250px;
	}
	
	.content-prod img {
		width: 50%;
		margin-bottom: 10px;
	}
	
	.content-prod p {
		margin-top: 10px;
		padding: 10px;
		font-size: 12px;
	}
	
	.content-pre {
		font-size: 15px;
		width: 100px;
	}
	
	.content-quan {
		width: 150px;
	}
	
	.content-quan input {
		width: 50px;
		height: 30px;
		border-radius: 5px;
	}
	
	.content-quan #quantidade {
		font-size: 17px;
	}
	
	.content-total {
		font-size: 15px;
		width: 100px;
	}

	.container-quad {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		gap: 5px;
	}
	
	.container-quad p:hover {
		cursor: pointer;
		text-decoration: underline;
	}
	
	.content-quan {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 25px;
		width: 150px;
	}
	
	.content-quan input {
		width: 20px;
		height: 30px;
		border-left: none;
		border-right: none;
	}
	
	.content-quan #quantity1, #quantity2, #quantity3, #quantity4, #quantity5 {
		font-size: 17px;
		border-radius: 0px;
		text-align: center;
	}
	
	#btn-min1, #btn-max1, #btn-min2, #btn-max2, #btn-min3, #btn-max3, #btn-min4, #btn-max4, #btn-min5, #btn-max5 {
		width: 30px;
		height: 30px;
		font-size: 20px;
		padding: 2px 10px;
		cursor: pointer;
		line-height: 1;
		text-align: center;
	}
	
	#btn-min1, #btn-min2, #btn-min3, #btn-min4, #btn-min5 {
		padding-bottom: 8px;
		border-right: none;
		border-top-left-radius: 10px;
		border-bottom-left-radius: 10px;
	}
	
	#btn-max1, #btn-max2, #btn-max3, #btn-max4, #btn-max5 {
		border-left: none;
		border-top-right-radius: 10px;
		border-bottom-right-radius: 10px;
	}
  }

@media (max-width: 1260px) {
	main {
		display: block;
	}
}

@media (max-width: 1260px) {

	.container-tabela {
		margin-left: 60px;
	}

	.container-pedido {
		margin-left: 50px;
	}

	.tabela p {
		font-size: 18px;
	}
	
	.container-content {
		margin-top: 10px;
		margin-bottom: 30px;
		width: 600px;
		height: 150px;
		border-radius: 10px;
	}
	
	.content-prod {
		width: 250px;
	}
	
	.content-prod img {
		width: 50%;
		margin-bottom: 10px;
	}
	
	.content-prod p {
		margin-top: 10px;
		padding: 10px;
		font-size: 12px;
	}
	
	.content-pre {
		font-size: 15px;
		width: 100px;
	}
	
	.content-quan {
		width: 150px;
	}
	
	.content-quan input {
		width: 50px;
		height: 30px;
		border-radius: 5px;
	}
	
	.content-quan #quantidade {
		font-size: 17px;
	}
	
	.content-total {
		font-size: 15px;
		width: 100px;
	}

	.container-quad {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		gap: 5px;
	}
	
	.container-quad p:hover {
		cursor: pointer;
		text-decoration: underline;
	}
	
	.content-quan {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 25px;
		width: 150px;
	}
	
	.content-quan input {
		width: 20px;
		height: 30px;
		border-left: none;
		border-right: none;
	}
  }

@media (max-width: 1120px) {
	.icon {
		display: flex;
		gap: 30px;
	}

	.icon span {
	  display: none;
	}

	.icon a {
		font-size: 20px;
	}
  }

@media (max-width: 1140px) {
	.container-tabela {
		margin-left: 40px;
	}

	.container-pedido {
		margin-left: 30px;
	}

	.tabela p {
		font-size: 15px;
	}
	
	.container-content {
		margin-top: 10px;
		margin-bottom: 30px;
		width: 460px;
		height: 150px;
		border-radius: 10px;
	}
	
	.content-prod {
		width: 200px;
	}
	
	.content-prod img {
		width: 50%;
		margin-bottom: 10px;
	}
	
	.content-prod p {
		margin-top: 10px;
		padding: 10px;
		font-size: 10px;
	}
	
	.content-pre {
		font-size: 14px;
		width: 80px;
	}
	
	.content-quan {
		width: 110px;
	}
	
	.content-quan input {
		width: 50px;
		height: 30px;
		border-radius: 5px;
	}
	
	.content-quan #quantidade {
		font-size: 17px;
	}
	
	.content-total {
		font-size: 14px;
		width: 70px;
	}

	.container-quad {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		gap: 5px;
	}

	.content-quan {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 25px;
		width: 110px;
	}

	.container-quad p {
		font-size: 12px;
	}
	
	.content-quan input {
		width: 20px;
		height: 30px;
		border-left: none;
		border-right: none;
	}
}

@media (max-width: 1020px) {
	  #intro .product-screens .product-screen-3,
	  #intro .product-screens .product-screen-4 {
		display: none;
	  }

	  #servicos .product-screens .product-screen-3,
	  #servicos .product-screens .product-screen-4 {
		display: none;
	  }
}

@media (max-width: 768px) {
  #header #logo h1 {
    font-size: 28px;
    margin-top: 0;
  }

  #header #logo img {
    max-height: 100px;
  }

  #intro h2 {
    font-size: 28px;
    line-height: 36px;
  }
  

  #intro p {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 20px;
  }

  .nav-menu a{
    font-size: 8px;
  }
}

@media (min-width: 767px) {
  #intro .product-screens .product-screen-2 {
    position: static;
    padding-top: 30px;
  }

  #intro .product-screens .product-screen-1{
    display: none;
  }
}

@media (max-width: 767px) {
  #intro .product-screens .product-screen-1 {
    position: static;
    padding-top: 30px;
  }

  #produto .product-screens .product-screen-1 {
    position: static;
    padding-top: 30px;
  }

  #servicos .product-screens .product-screen-1 {
    position: static;
    padding-top: 30px;
  }

  #intro .product-screens .product-screen-2,
  #intro .product-screens .product-screen-3,
  #intro .product-screens .product-screen-4 {
    display: none;
  }
  #servicos .product-screens .product-screen-2,
  #servicos .product-screens .product-screen-3,
  #servicos .product-screens .product-screen-4{
    display: none;
  }

  #form form{
    position: static;
    padding-top: 300px;
  }
}