body {
  margin: 0;
  background: antiquewhite;
  color: #343a40;
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
}

a {
  color:#0156a5;
  transition: 0.5s;
}

p {
  padding: 0;
  margin: 0 0 30px 5px;
}

h1,h2,h3,h4,h5,h6{
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0;
  color:  #0156a5;
}

#header {
  padding: 30px 0;
  height: 92px;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  transition: all 0.5s;
  z-index: 997;
}

#header #logo {
  float: left;
}

#header #logo h1 {
  font-size: 36px;
  margin: -4px 0 0 0;
  padding: 0;
  line-height: 1;
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  letter-spacing: 3px;
  text-transform: uppercase;
}

#header #logo h1 a,
#header #logo h1 a:hover {
  color: #fff;
}

#header #logo img {
  padding: 0;
  margin: 0;
  top: 16px;
  width:253px;
  height: 40px;
  position: absolute;
}

#header{
  background-color:antiquewhite;
  padding: 20px 0;
  height: 72px;
  transition: all 0.5s;
}

#intro {
  width: 100%;
  height: 100vh;
  background: linear-gradient(45deg, #0156a5, #c5c5c5);
  background-size: cover;
  position: relative;
}

#intro .intro-text {
  position: absolute;
  left: 0;
  top: 60px;
  right: 0;
  height: calc(50% - 60px);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

#intro h2 {
  margin: 30px 0 10px 0;
  padding: 0 15px;
  font-size: 48px;
  font-weight: 400;
  line-height: 56px;
  color: #fff;
}

#intro p {
  color: #fff;
  margin-bottom: 20px;
  padding: 0 15px;
  font-size: 24px;
}

#intro .product-screens {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  text-align: center;
  width: 100%;
  height: 60%;
}

#intro .product-screens img {
  box-shadow: 0px -2px 19px 4px rgba(0, 0, 0, 0.29);
  border-radius: 15px
}

#intro .product-screens .product-screen-1 {
  position: absolute;
  z-index: 30;
  left: calc(50% + 54px);
  bottom: 0;
  top: 20px;
}

#intro .product-screens .product-screen-2 {
  position: static;
  z-index: 20;
  left: calc(25% - 154px);
  bottom: 0;
  top: 20px;
}

#intro .product-screens .product-screen-3 {
  position: absolute;
  z-index: 10;
  left: calc(30% - 374px);
  bottom: 0;
  top: 20px;
}

#intro .product-screens .product-screen-4 {
  position: absolute;
  z-index: 10;
  right: calc(30% - 374px);
  bottom: 0;
  top: 20px;
}


#form {
  width: 100%;
  height: 100vh;
  background: linear-gradient(45deg, #0156a5, #c5c5c5);
  background-size: cover;
  position: relative;
  
}

#form .form-text {
  position: absolute;
  left: 0;
  top: 60px;
  right: 0;
  height: calc(50% - 60px);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

#form h2 {
  margin: 30px 0 10px 0;
  padding: 0 15px;
  font-weight: 400;
  line-height: 56px;
  color: #fff;
}


#form form{
  border: none;
  cursor: pointer;
  position: static;
  z-index: 30;
  left: calc(48% + 54px);
  bottom: 0;
  padding-top: 200px;
}

#form input{
  width: 200px;
  height: 40px;
  background: linear-gradient(45deg, #0156a5, #c5c5c5);
  position:static;
  border: none;
  cursor: pointer;
}


#form button{
  background: linear-gradient(45deg, #0156a5, #c5c5c5);
  border: none;
  width: 200px;
  height: 40px;
  color: #fff;
  font-weight: bolder;
  cursor: pointer;
}

#form textarea{
  background: linear-gradient(45deg, #0156a5, #c5c5c5);
  border: none;
  width: 200px;
  height: 50px;
  cursor: pointer;
}

#form ::placeholder{
  font-size: x-small;
  color: #fff;
  font-weight: bolder;
}

#servicos {
  width: 100%;
  height: 100vh;
  background: linear-gradient(45deg, #0156a5, #c5c5c5);
  background-size: cover;
  position: relative;
}

#servicos .intro-text {
  position: absolute;
  left: 0;
  top: 60px;
  right: 0;
  height: calc(50% - 60px);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

#servicos h2 {
  margin: 30px 0 10px 0;
  padding: 0 15px;
  font-size: 48px;
  font-weight: 400;
  line-height: 56px;
  color: #fff;
}

#servicos p {
  color: #fff;
  margin-bottom: 20px;
  padding: 0 15px;
  font-size: 24px;
}

#servicos .product-screens {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  text-align: center;
  width: 100%;
  height: 60%;
}

#servicos .product-screens img {
  box-shadow: 0px -2px 19px 4px rgba(0, 0, 0, 0.29);
  border-radius: 15px
}

#servicos .product-screens .product-screen-1 {
  position: absolute;
  z-index: 30;
  left: calc(48% + 54px);
  bottom: 0;
  top: 20px;
}

#servicos .product-screens .product-screen-2 {
  position: absolute;
  z-index: 20;
  left: calc(38% - 154px);
  bottom: 0;
  top: 20px;
}

#servicos .product-screens .product-screen-3 {
  position: absolute;
  z-index: 10;
  left: calc(30% - 374px);
  bottom: 0;
  top: 20px;
}

#servicos .product-screens .product-screen-4 {
  position: absolute;
  z-index: 10;
  right: calc(30% - 374px);
  bottom: 0;
  top: 20px;
}


#post {
  width: 100%;
  height: 100vh;
  background: linear-gradient(45deg, #0156a5, #c5c5c5);
  background-size: cover;
  position: relative;
}

#post .intro-text {
  position: absolute;
  left: 0;
  top: 60px;
  right: 0;
  height: calc(50% - 60px);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

#post h2 {
  margin: 30px 0 10px 0;
  padding: 0 15px;
  font-size: 48px;
  font-weight: 400;
  line-height: 56px;
  color: #fff;
}

#post p {
  color: #fff;
  margin-bottom: 20px;
  padding: 0 15px;
  font-size: 24px;
}

#post .btn-get-started {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 28px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px;
  border: 2px solid #fff;
  color: #fff;
}

#post .product-screens {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  text-align: center;
  width: 100%;
  height: 60%;
}

#post .product-screens img {
  box-shadow: 0px -2px 19px 4px rgba(0, 0, 0, 0.29);
  border-radius: 15px
}

#post .product-screens .product-screen-1 {
  position: absolute;
  z-index: 30;
  left: calc(65% + 54px);
  bottom: 0;
  top: 20px;
}

#post .product-screens .product-screen-2 {
  position: absolute;
  z-index: 20;
  left: calc(50% - 154px);
  bottom: 0;
  top: 20px;
}

#post .product-screens .product-screen-3 {
  position: absolute;
  z-index: 10;
  left: calc(35% - 374px);
  bottom: 0;
  top: 20px;
}


.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu ul {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  z-index: 99;
}

.nav-menu li {
  position: relative;
  white-space: nowrap;
}

.nav-menu > li {
  float: left;
}

.nav-menu li:hover > ul,
.nav-menu li.sfHover > ul {
  display: block;
}

.nav-menu ul ul {
  top: 0;
  left: 100%;
}

.nav-menu ul li {
  min-width: 180px;
}

#nav-menu-container {
  float: right;
  margin: 0;
}

.nav-menu a {
  text-decoration: none;
  display: inline-block;
  color:  #0156a5;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  outline: none;
}

.nav-menu > li {
  margin-left: 10px;
  margin-top: 10px;
}

.nav-menu ul {
  margin: 4px 0 0 0;
  padding: 10px;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  background: #fff;
}

.nav-menu ul li {
  transition: 0.3s;
}

.nav-menu ul li a {
  padding: 10px;
  color: #333;
  transition: 0.3s;
  display: block;
  font-size: 13px;
  text-transform: none;
}

.nav-menu ul li:hover > a {
  color:  #0156a5;
}

.nav-menu ul ul {
  margin: 0;
}

#contact {
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
  padding: 60px 0;
  overflow: hidden;
}

#contact .contact-about h3 {
  font-size: 36px;
  margin: 0 0 10px 0;
  padding: 0;
  line-height: 1;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  letter-spacing: 3px;
  text-transform: uppercase;
  color:  #0156a5;
}

#contact .contact-about p {
  font-size: 14px;
  line-height: 24px;
  font-family: "Montserrat", sans-serif;
  color: #888;
}

#contact .social-links {
  padding-bottom: 35px;
}

#contact .social-links a {
  font-size: 20px;
  display: inline-block;
  color:  #0156a5;
  line-height: 1;
  padding: 4px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 50px;
  height: 50px;
  transition: 0.3s;
  color:  #0156a5;
}

#contact .social-links a:hover {
  background:  #0156a5;
  color: #fff;
}

#contact .info {
  color: #333333;
}

#contact .info i {
  font-size: 40px;
  color:  #0156a5;
  float: left;
  line-height: 1;
}

#contact .info p {
  padding: 5px 5px 10px 45px;
  line-height: 28px;
  font-size: 14px;
}

#contact img {
  float: 10px ;
  padding-right: 5px;
  padding-left: 5px;
  line-height: 28px;
  font-size: 14px;
}

#sobre {
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
  padding: 200px 0;
  overflow: hidden;
}

#sobre .contact-about h3 {
  font-size: 36px;
  margin: 0 0 10px 0;
  padding: 0;
  line-height: 1;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  letter-spacing: 3px;
  text-transform: uppercase;
  color:  #0156a5;
}

#sobre .contact-about p {
  font-size: 14px;
  line-height: 24px;
  font-family: "Montserrat", sans-serif;
  color: #888;
}

#sobre .social-links {
  padding-bottom: 35px;
}

#sobre .social-links a {
  font-size: 20px;
  display: inline-block;
  color:  #0156a5;
  line-height: 1;
  padding: 4px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 50px;
  height: 50px;
  transition: 0.3s;
  color:  #0156a5;
}

#sobre .social-links a:hover {
  background:  #0156a5;
  color: #fff;
}

#sobre .info {
  color: #333333;
}

#sobre .info i {
  font-size: 40px;
  color:  #0156a5;
  float: left;
  line-height: 1;
}

#sobre .info p {
  padding: 5px 5px 10px 45px;
  line-height: 28px;
  font-size: 14px;
}

#sobre img {
  float: 10px ;
  padding-right: 5px;
  padding-left: 5px;
  line-height: 28px;
  font-size: 14px;
}

#footer {
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
  padding: 30px 0;
  color: #888;
  font-size: 14px;
}

#footer .credits {
  font-size: 13px;
  color: #777;
}

#footer .footer-links a {
  color: #666;
  padding-left: 15px;
}

#footer .footer-links a:first-child {
  padding-left: 0;
}

#footer .footer-links a:hover {
  color:  #0156a5;
}

@media (min-width: 1025px) {
  #intro {
    background-attachment: fixed;
  }
}

@media (max-width: 768px) {
  #header #logo h1 {
    font-size: 28px;
    margin-top: 0;
  }

  #header #logo img {
    max-height: 100px;
  }

  #intro h2 {
    font-size: 28px;
    line-height: 36px;
  }
  

  #intro p {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 20px;
  }

  .nav-menu a{
    font-size: 8px;
  }
}

@media (min-width: 767px) {
  #intro .product-screens .product-screen-2 {
    position: static;
    padding-top: 30px;
  }

  #intro .product-screens .product-screen-1{
    display: none;
  }
}

@media (max-width: 767px) {
  #intro .product-screens .product-screen-1 {
    position: static;
    padding-top: 30px;
  }

  #produto .product-screens .product-screen-1 {
    position: static;
    padding-top: 30px;
  }

  #servicos .product-screens .product-screen-1 {
    position: static;
    padding-top: 30px;
  }

  #intro .product-screens .product-screen-2,
  #intro .product-screens .product-screen-3 {
    display: none;
  }
  #servicos .product-screens .product-screen-2,
  #servicos .product-screens .product-screen-3,
  #servicos .product-screens .product-screen-4{
    display: none;
  }

  #post .product-screens .product-screen-1 {
    position: static;
    padding-top: 30px;
  }

  #post .product-screens .product-screen-2,
  #post .product-screens .product-screen-3,
  #post .product-screens .product-screen-4{
    display: none;
  }

  #form form{
    position: static;
    padding-top: 300px;
  }

  .l-cards {
		display: grid;
		grid-gap: 10px;
		grid-template-columns: repeat(2, 170px);
		grid-template-columns: repeat(auto-fit, 170px);
		grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
		padding: 15px;
	}

	.c-card:hover {
		border: 1px solid rgb(100, 100, 100, 0.1);
	}

	.card-name {
		height: 50px;
		font-size: 11px;
	}

	.card-price {
		height: 10px;
		font-size: 15px;
	}

	.card-estrela {
		padding-bottom: 0;
		height: 25px;
		font-size: 10px;
	}

	.card-text {
		padding-left: 5px;
	}

	.button-comprar {
		height: 28px;
		font-size: 14px;
	}
	
	.button-comprar:hover {
		transform: scale3d(1.05, 1.08, 1);
	}

	.discount {
		border-top-left-radius: 14px;
		border-top-right-radius: 14px;
	}
	
	.discount p {
		font-size: 11px;
		height: 16px;
	}
	
	.content-price {
		padding-bottom: 0;
		height: 10px;
		margin-bottom: 10px;
		gap: 5px;
	}
	
	.price-discount {
		font-size: 11px;
	}
  }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}

.l-cards {
	display: grid;
	grid-gap: 40px;
	grid-template-columns: repeat(3, 300px);
	grid-template-columns: repeat(auto-fit, 300px);
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	justify-content: center;
	justify-items: center;
	padding: 10px;
}

.c-card {
  width: 250px;
  height: 535px;
  background: white;
	border-bottom-left-radius: 17px;
	border-bottom-right-radius: 17px;
  border-top-left-radius: 17px;
	border-top-right-radius: 17px;
	display: flex;
	flex-direction: column;
	transition: 0.6s all ease;
}

.a-card {
  width: 250px;
  height: 400px;
  background: white;
	border-bottom-left-radius: 17px;
	border-bottom-right-radius: 17px;
  border-top-left-radius: 17px;
	border-top-right-radius: 17px;
	display: flex;
	flex-direction: column;
	transition: 0.6s all ease;
}

.c-card:hover {
	transform: scale(1.04);
	cursor: pointer;
}

.card-image {
	display: flex;
	justify-content: center;
}

.card-text {
	background-color: rgba(255, 255, 255, 0);
	width: 100%;
	padding-left: 10px;
	padding-right: 20px;
	text-align: start;
	word-wrap: break-word;
}

.card-name {
	height: 60px;
	color: black;
	font-size: 15px;
}

.card-content {
	display: grid;
	grid-gap: 0;
}

.discount {
  border-top-left-radius: 14px;
	border-top-right-radius: 14px;
	display: flex;
	justify-content: center;
	align-items: center;
	background:#0156a5
}

.discount p {
	display: flex;
	align-items: center;
	height: 25px;
	font-size: 17px;
	color: rgb(255, 0, 0);
  margin-top: 25px;
}

.content-price {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 0;
	height: 30px;
	background-color: rgba(255, 255, 255, 0);
	color: rgb(0, 0, 0);
	margin-bottom: 10px;
	gap: 10px;
}

.card-price {
	font-size: 22px;
}

.price-discount {
	text-decoration: line-through;
  color: #999;
	margin-top: 24px;
	font-size: 16px;
}

.card-estrela {
	padding-bottom: 10px;
	align-items: center;
	height: 25px;
	background-color: rgba(255, 255, 255, 0);
	display: flex;
	margin-right: 10px;
	justify-content: end;
	font-size: 15px;
}

.card-button {
	display: flex;
	justify-content: center;
}

.button-comprar {
	background:#0156a5;
	color: white;
	width: 100%;
	height: 45px;
	font-size: 20px;
	border: none;
	transition: 0.4s all ease;
  border-bottom-left-radius: 14px;
	border-bottom-right-radius: 14px;
}

.button-comprar:hover {
  background:#0156a5;
	transform: scale3d(1.05, 1.2, 1);
	border: none;
	cursor: pointer;
  border-bottom-left-radius: 14px;
	border-bottom-right-radius: 14px;
}

.produto{
  padding: 15px;
	width: 90%;
}