body {
  margin: 0;
  background: rgb(247, 228, 203);
  color: #343a40;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

a {
  color: #0156A5;
  transition: 0.5s;
}

p {
  padding: 0;
  margin: 0 0 30px 5px;
  font-family: "Montserrat", sans-serif;
}

h1,h2,h3,h4,h5,h6{
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0; 
}

#logo {
  width: 50px;
}

#header {
  padding: 30px 0;
  height: 92px;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  transition: all 0.5s;
  z-index: 997;
}

#header #logo {
  float: left;
}

#header #logo h1 {
  font-size: 36px;
  margin: -4px 0 0 0;
  padding: 0;
  line-height: 1;
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  letter-spacing: 3px;
  text-transform: uppercase;
}

#header #logo h1 a,
#header #logo h1 a:hover {
  color: #fff;
}

#header #logo img {
  padding: 0;
  margin: 0;
  top: 16px;
  width:253px;
  height: 40px;
  position: absolute;
}


#header #car {
  float: right;
}

#header #car h1 {
  font-size: 36px;
  margin: -4px 0 0 0;
  padding: 0;
  line-height: 1;
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  letter-spacing: 3px;
  text-transform: uppercase;
}

#header #car h1 a,
#header #car h1 a:hover {
  background: rgb(247, 228, 203);
}

#header #car img {
  padding: 0;
  margin: 0;
  top: 16px;
  width:253px;
  height: 40px;
  position: static;
}

#header{
  background: rgb(247, 228, 203);
  padding: 20px 0;
  height: 72px;
  transition: all 0.5s;
}

#produto{
	background: rgb(247, 228, 203);
}

#intro {
  width: 100%;
  height: 100vh;
  background-color: antiquewhite;
  background-size: cover;
  position: relative;
   background: rgb(247, 228, 203);
}

#intro .intro-text {
  position: absolute;
  left: 0;
  top: 30px;
  right: 0;
  height: calc(50% - 60px);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  background: #0156A5;
  background: linear-gradient(to right, #0156A5 0%, #C5C5C5 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

#intro h2 {
  margin: 30px 0 10px 0;
  padding: 0 15px;
  font-size: 48px;
  font-weight: 400;
  line-height: 56px;
  background: #0156A5;
  background: linear-gradient(to right, #0156A5 0%, #C5C5C5 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

#intro p {
  margin-bottom: 20px;
  padding: 0 15px;
  font-size: 24px;
}

#intro .product-screens {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  text-align: center;
  width: 100%;
  height: 70%;
}

#intro .product-screens img {
  border-radius: 15px
}

#intro .product-screens .product-screen-1 {
  position: absolute;
  z-index: 30;
  left: calc(50% + 54px);
  bottom: 0;
  top: 20px;
}

#intro .product-screens .product-screen-2 {
  position: static;
  z-index: 20;
  left: calc(25% - 154px);
  bottom: 0;
  top: 20px;
}

#intro .product-screens .product-screen-3 {
  position: absolute;
  z-index: 10;
  left: calc(30% - 374px);
  bottom: 0;
  top: 20px;
}

#intro .product-screens .product-screen-4 {
  position: absolute;
  z-index: 10;
  right: calc(30% - 374px);
  bottom: 0;
  top: 20px;
}

#servicos {
  width: 100%;
  height: 100vh;
  background: rgb(247, 228, 203);
  background-size: cover;
  position: relative;
}

#servicos .intro-text {
  position: absolute;
  left: 0;
  top: 60px;
  right: 0;
  height: calc(50% - 60px);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  background: #0156A5;
  background: linear-gradient(to right, #0156A5 0%, #C5C5C5 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

#servicos h2 {
  margin: 30px 0 10px 0;
  padding: 0 15px;
  font-size: 48px;
  font-weight: 400;
  line-height: 56px;
  background: #0156A5;
  background: linear-gradient(to right, #0156A5 0%, #C5C5C5 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

#servicos p {
  margin-bottom: 20px;
  padding: 0 15px;
  font-size: 24px;
}

#servicos .product-screens {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  text-align: center;
  width: 100%;
  height: 90%;
}

#servicos .product-screens img {
  border-radius: 15px
}

#servicos .product-screens .product-screen-1 {
  position: absolute;
  z-index: 30;
  left: calc(48% + 54px);
  bottom: 0;
}

#servicos .product-screens .product-screen-2 {
  position: absolute;
  z-index: 20;
  left: calc(38% - 154px);
  bottom: 0;
}

#servicos .product-screens .product-screen-3 {
  position: absolute;
  z-index: 10;
  left: calc(30% - 374px);
  bottom: 0;
  top: 20px;
}

#servicos .product-screens .product-screen-4 {
  position: absolute;
  z-index: 10;
  right: calc(30% - 374px);
  bottom: 0;
  top: 100px;
}

.message {
	position: fixed;
	bottom: 20px;
	right: 20px;
	background-color: #074bb1;
	color: #fff;
	padding: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100px;
	height: 50px;
	font-size: 10px;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, transform 0.3s ease-in-out;
	transform: translateY(20px);
}

.message.show {
	opacity: 1;
	visibility: visible;
	transform: translateY(0);
}

#sobre {
  padding: 50px 0;
  overflow: hidden;
}

#sale {
	padding: 50px 0;
	overflow: hidden;
	height: 700px;
}

#salea {
	padding: 50px 0;
	overflow: hidden;
	height: 1200px;
}

#salei{
	background-color: antiquewhite;
}

#sobre .contact-about h3 {
  font-size: 36px;
  margin: 0 0 10px 0;
  padding: 0;
  line-height: 1;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  letter-spacing: 3px;
  text-transform: uppercase;
  color:  #0156a5;
}

#sobre .contact-about p {
  font-size: 14px;
  line-height: 24px;
  font-family: "Montserrat", sans-serif;
  color: #888;
}

#sobre img {
  float: 10px ;
  padding-right: 5px;
  padding-left: 5px;
  line-height: 28px;
  font-size: 14px;
}

#footer {
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
  padding: 30px 0;
  color: #888;
  font-size: 14px;
}

#footer .footer-links a {
  color: #666;
  padding-left: 15px;
}

#footer .footer-links a:first-child {
  padding-left: 0;
}

#footer .footer-links a:hover {
  color:  #0156a5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}

.l-cards {
	display: grid;
	grid-gap: 40px;
	grid-template-columns: repeat(3, 300px);
	grid-template-columns: repeat(auto-fit, 300px);
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	justify-content: center;
	justify-items: center;
	padding: 10px;
}

.c-card {
  width: 250px;
  height: 535px;
  background: white;
	border-bottom-left-radius: 17px;
	border-bottom-right-radius: 17px;
  border-top-left-radius: 17px;
	border-top-right-radius: 17px;
	display: flex;
	flex-direction: column;
	transition: 0.6s all ease;
}

.a-card {
  width: 250px;
  height: 400px;
  background: white;
	border-bottom-left-radius: 17px;
	border-bottom-right-radius: 17px;
  border-top-left-radius: 17px;
	border-top-right-radius: 17px;
	display: flex;
	flex-direction: column;
	transition: 0.6s all ease;
}

.a-card:hover {
	transform: scale(1.04);
	cursor: pointer;
}

.c-card:hover {
	transform: scale(1.04);
	cursor: pointer;
}

.card-image {
	display: flex;
	justify-content: center;
}

.card-text {
	background-color: rgba(255, 255, 255, 0);
	width: 100%;
	padding-left: 10px;
	padding-right: 20px;
	text-align: start;
	word-wrap: break-word;
}

.card-name {
	height: 60px;
	color: black;
	font-size: 15px;
}

.card-content {
	display: grid;
	grid-gap: 0;
}

.discount {
  border-top-left-radius: 14px;
	border-top-right-radius: 14px;
	display: flex;
	justify-content: center;
	align-items: center;
	background:#0156a5
}

.discount p {
	display: flex;
	align-items: center;
	height: 25px;
	font-size: 17px;
	color: rgb(255, 0, 0);
  	margin-top: 25px;
}

.content-price {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 0;
	height: 30px;
	background-color: rgba(255, 255, 255, 0);
	color: rgb(0, 0, 0);
	margin-bottom: 10px;
	gap: 10px;
}

.card-price {
	font-size: 22px;
}

.price-discount {
	text-decoration: line-through;
  	color: #999;
	margin-top: 24px;
	font-size: 16px;
}

.card-estrela {
	padding-bottom: 10px;
	align-items: center;
	height: 25px;
	background-color: rgba(255, 255, 255, 0);
	display: flex;
	margin-right: 10px;
	justify-content: end;
	font-size: 15px;
}

.card-button {
	display: flex;
	justify-content: center;
}

.button-comprar {
	background:#0156a5;
	color: white;
	width: 100%;
	height: 45px;
	font-size: 20px;
	border: none;
	transition: 0.4s all ease;
  	border-bottom-left-radius: 14px;
	border-bottom-right-radius: 14px;
}

.button-comprar:hover {
  	background:#0156a5;
	border: none;
	cursor: pointer;
  	border-bottom-left-radius: 14px;
	border-bottom-right-radius: 14px;
}

.produto{
  	padding: 15px;
	width: 90%;
}

ul{
	display: flex;
	flex-direction: column;
	margin-right: 20px;
	justify-content: center;
}

#product {
	display: flex;
	margin-top: 50px;
	margin-bottom: 50px;
	border-radius: 10px;
	background-color: white;
}

.product-info {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 200px;
}

#itemImg{
	width: 120px;
}

#itemName{
	width: 10%;
	text-align: justify;
	margin-right: 100px;
	margin-top: 25px;
	font-size: 10px;
}

#itemPrice {
	margin-top: 30px;
	font-size: 15px;
}

.product-price {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 150px;
}

.button-group {
	width: 300px;
}

#itemQnt{
	font-size: 17px;
	padding-top: 1px;
	width: 15px;
	height: 25px;
	text-align: center;
	border: #777;;
	border-left: none;
	border-right: none;
	margin-top: 55px;
	background-color: #0156a5;
	color: white;
}

#increaseBtn {
	font-size: 15px;
	padding-top: 1px;
	width: 15px;
	height: 25px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border: #777;;
	border-left: none;
	cursor: pointer;
	color:#777;
}

#decreaseBtn {
	font-size: 17px;
	padding-top: 1px;
	width: 15px;
	height: 25px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	border:#777;;
	border-right: none;
	margin-left: 35px;
	cursor: pointer;
	color:#777;
}

.remove-text{
	font-size: 10px;
	margin-left: 40px;
	margin-top: 20px;
	color: #777;;
	cursor: pointer;
}

.remove-text:hover{
	text-decoration: underline;
}

.container-carrinho-vazio {
	display: flex;
	justify-content: center;
	align-self: center;
	width: 100%;
	height: 800px;
}

.carrinho-vazio {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 20px;
}

#cart-imagem {
	width: 140px;
	margin-top: 200px;
}

#cart-name-vazio {
	margin-top: 20px;
	font-size: 22px;
}

#cart-explorando {
	font-size: 20px;
	width: 350px;
	height: 50px;
	border-radius: 10px;
	color: white;
	background-color:#0156a5;
	cursor: pointer;
	margin-bottom: 250px;
	transition: 0.4s all ease;
}

#cart-explorando:hover {
	transform: scale3d(1.05, 1.2, 1);
}

#endereco {
	margin: 3px;
	font-size: 15px;
	background-color:#0156a5;
	color: white;
	border-radius: 5px;
}

.container-tabela {
	display: block;
    margin-top: 80px;
}

.container-content {
    display: flex;
    margin-top: 10px;
    margin-bottom: 30px;
    width: 1039px;
    height: 150px;
    border-bottom: 1px solid black;
    border-radius: 10px;
}

.content-total {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
	font-size: 20px;
}

.container-pedido {
	width: 500px;
}

.pedido {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 70px;
	background-color: #0156a5;
    border: 1px solid white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: none;
}

.pedido #resumo{
	font-size: medium;
	padding-top: 35px;
	color: white;
}

.content-pedido {
		width: 350px;
		height: 240px;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
	}

.content-subtotal {
	padding-top: 35px;
    width: 500px;
    height: 50px;
	background-color: transparent;
    border: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
	background-color: white;
}

.content-subtotal p {
    font-size: medium;
	color: black;
	margin-left: 15px;
	padding-right: 10px;
}

.content-entrega {
    width: 500px;
    height: 50px;
    border: white;
	border-top: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
	background-color: white;
}

.content-entrega p {
	font-size: medium;
	padding-top: 20px;
	color: black;
	margin-left: 15px;
	padding-right: 10px;
}

.content-pre-total {
    width: 500px;
    height: 60px;
	border: white;
	border-top: none;
	border-bottom: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
	background-color: white;
	border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.content-pre-total p {
	padding-top: 20px;
	color: black;
	margin-left: 15px;
	padding-right: 10px;
}

.content-desconto {
	border: white;
	border-top: none;
    gap: 5px;
	background-color: white;
}

.content-desconto #price-descont {
    font-size: 23px;
	margin-right: 20px;
    color: black;
}

.content-desconto #pric {
    text-decoration: line-through;
    color: #5a5a5a;
    margin-top: 24px;
    font-size: 16px;
}

.content-desconto p {
    margin-top: 20px;
    font-size: 16px;
}

.box-des {
	display: flex;
    align-items: center;
    justify-content: end;
}

.content-pedido p {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 10px;
}

.content-comprar {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
	width: 500px;
	gap: 10px;
}

.content-comprar button {
	width: 250px;
	height: 40px;
	font-size: 16px;
	border-radius: 5px;
	background-color: #0156a5;
	color: white;
	border: none;
	transition: 0.4s all ease;
}

.content-comprar button:hover {
	cursor: pointer;
	transform: scale(1.04);
}

.content-comprar #fechar-ped {
	width: 250px;
	background-color: #0156a5;
	color: white;
	border: none;
	transition: 0.4s all ease;
}

.content-comprar #fechar-ped:hover {
	cursor: pointer;
	transform: scale(1.04);
}

.container-cep {
	width: 500px;
	margin-top: 20px;
}

.container-cep h1 {
    font-size: 23px;
    margin-bottom: 10px;
}

.content-cep input {
	font-size: 14px;
}

#cep {
	width: 293px;
	height: 40px;
    padding: 5px;
   	border: none;
}

#pay {
	width: 293px;
	height: 40px;
    padding: 5px;
   	border: none;
}

.content-frete {
	display: flex;
	justify-content: center;
	gap: 10px;
}

#end {
	width: 500px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 5px;
	margin-top: 10px;
	font-size: 12px;
	border-radius: 10px;
}

#economico, #expresso {
	margin-top: 10px;
	margin-bottom: 15px;
	line-height: 1.3;
}

#eco {
	width: 244px;
	height: 100px;
	border-radius: 10px;
	background-color: white;
	cursor: pointer;
	transition: 0.4s all ease;
}

#eco:hover {
	transform: scale(1.006);
	box-shadow: 3px 3px 8px #afafaf;
	background-color: #f1f1f1;
}

.cor-frete {
	color: #0156a5;
}

.container-formas-pag {
	background-color: rgb(255, 255, 255);
	width: 500px;
	margin-top: 20px;
}

.container-formas-pag h2 {
	display: flex;
	justify-content: start;
	margin-bottom: 0px;
	font-size: 15px;
}

.formas-pag {
	display: flex;
	justify-content: center;
	width: 496px;
	margin-top: 10px;
	border-radius: 5px;
}

.content-pag, .content-pag2 {
	background-color: rgb(255, 255, 255);
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0px;
	width: 250px;
	height: 43px;
	border: 1px solid #b6b6b6;
	border-radius: 5px;
	cursor: pointer;
}

.content-pag {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-right: none;
}

.content-pag img {
	width: 43px;
	transition: 0.3s all ease;
	border: 1px solid transparent;
}

.content-pag2 {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border-left: none;
}

.content-pag2 img {
	width: 43px;
	transition: 0.3s all ease;
	border: 1px solid transparent;
}

.content-pag img:hover:not(.selected), .content-pag2 img:hover:not(.selected) {
	border-color:#0156a5;
}

.content-pag img.selected, .content-pag2 img.selected {
	border-color:#0156a5;
}

#pag-52px {
	width: 52px;
	padding: 6px 10px 5px 10px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

#pag-46px {
	width: 46px;
	padding: 5px 6px 5px 7px;
}

#pag-54px {
	width: 54px;
	padding: 3px 8px 2px 8px;
}

#pag-49px {
	width: 49px;
	padding: 10px 1px 10px 1px;
}

#pag-51px {
	width: 51px;
	padding: 1px 5px 1px 5px;
}


#cupom-message {
	padding: 2px;
	font-size: 15px;
	color:#0156a5;
	margin-top: 10px;
}

#cupom-message2 {
	padding: 2px;
	font-size: 15px;
	color: black;
	margin-top: 10px;
}

.cupom-container {
	width: 500px;
	margin-top: 0px;
}

.cupom-container h1 {
    font-size: 22px;
    margin-bottom: 1px;
}

.content-cep {
	display: flex;
    align-items: center;
	gap: 10px;
}

.content-cep input {
	font-size: 14px;
}

#cupom-input {
    width: 400px;
	height: 40px;
    padding: 5px;
	border: none;
	margin-top: 10px;
}

.content-cep button {
	width: 80px;
	height: 39px;
	font-size: 14px;
	background-color: #0156a5;
	color: white;
	border: none;
    border-radius: 5px;
    cursor: pointer;
}

.container-cep button:hover{
	cursor: pointer;
	transition: 0.4s all ease;
	transform: scale(1.04);
}